---
---

@import "{{ site.theme}}";

body {
  font-family: Cardo, Georgia, serif;
}

.post-list {
  padding: 1rem 0 3rem 0;
  background-color: #f9f9f9;
  color: #666;
}

.post-list-item {
  list-style: none
}
.post-list-item_title {
  font-size: 1.5rem;
}
.post-list-item_date,
.post-list-item_excerpt {
  padding: 0;
  margin: 0;
}
.post-list-item_date {
  opacity: .6;
}
