<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages</span>
        </div>

        <ul class="post-list">
          {% for post in site.posts %}
            <li class="post-list-item">
              <a href="{{ post.url }}">{{ post.date | date_to_string }}: {{ post.title }}</a>
              {{ post.excerpt }}
            </li>
          {% endfor %}
        </ul>
        {{ content }}

      </section>

    </div>

    {% include googleAnalytics.html %}
  </body>
</html>
