<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ post.title }}</h1>
          <p>{{ post.date }}</p>
          <hr>
          <span class="credits left">by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages</span>
        </div>

        {{ content }}

      </section>

    </div>

    {% include googleAnalytics.html %}
  </body>
</html>
